[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "~=1.6"
types-paho-mqtt = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"
bandit = "*"
black = "*"
isort = "*"
mypy = "*"
pytest = "*"
pylint = "*"
vulture = "*"
pytest-cov = "*"
pdoc = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
